<div class="container">
  <form action="/send" method="post">
    <fieldset>
      <input type="hidden" name="source" value="14793451619">
      <label for="destination">Destination</label>
      <input type="tel" name="destination">
      <label for="content">Content</label>
      <textarea name="content"></textarea>
      <input type="submit" value="Send" class="button-primary">
    </fieldset>
  </form>
</div>
